<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js">
        // 1 引入vue文件
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>

</head>

<body>
    <!-- 3 编写视图层的展示 -->
    <div id="app">
        零 <input type="text" v-model="message">
        {{message}}
        <!-- 插值表达式 内容可以是 变量 三元运算符 函数调用 算数运算-->
        <br><br>
        二
        <!-- v-bind的使用 为HTML标签绑定属性值 如设置href,css样式等 -->
        <a v-bind:href="url">百度1</a>
        <a :href="url">百度2</a>
        <br><br>
        三
        <!-- v-model的使用 在表单元上创建双向数据绑定 v-bind 和 v-model绑定的变量 必须在数据模型中声明 -->
        <input type="text" v-model="url">
        <br><br>
        四
        <!-- v-on 的使用  v-on:事件 表示触发事件后调用对应的属性函数-->
        <input type="button" value="点我" v-on:click="handle()">
        <input type="button" value="点我" @click="handle()">
        <br><br>
        五
        <!-- v-if else if else  v-show的使用  if是成立浏览器渲染 show是成立display展示 -->
        年龄<input type="text" v-model="age">
        <span v-if="age <=30">年轻人</span>
        <span v-else-if="age <60">中年</span>
        <span v-else>老年人</span>
        <span v-show="age>100">老老人</span>
        <br><br>
        六
        <!-- v-for的使用  遍历列表得到数据和下标 -->
        <div v-for="(address,index) in address">
            {{address}},{{index}}
        </div>
    </div>

</body>
<script>
    // 2 定义Vue对象
    new Vue({
        el: "#app", //vue接管区域
        data: {
            message: "hello vue",
            url: "https://www.baidu.com",
            age: 20,
            address: ['1', '2', '3', '4', '5', '6']
        },
        methods: {
            handle: function () {
                alert("点了一下")
            }
        },
        mounted() {
            alert("Vue挂载完成 发送请求到服务端")
        },
    })
</script>