<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ithema.mapper.EmpMapper">

    <sql id="comment">select name
                      from emp</sql>
    <select id="list1">
        <include refid="comment">

        </include>
    </select>
    <!--id 为mapper接口方法名  resultType指的是单条记录封装的类型 为其全限定类名-->
    <select id="list" resultType="com.ithema.pojo.Emp">
        select *
        from emp
        <where>
            -- test属性用于指定条件
            <if test="name!=null">
                name like concat('%', #{name}, '%')
            </if>

            <if test="gender!=null">
                and gender = #{gender}
            </if>

            <if test="begin!=null and end!=null">
                and entrydate between #{begin} and #{end}
            </if>
            order by update_time desc
        </where>
    </select>

    <update id="update">
        update emp
        <set>
            <if test="username!=null">username = #{username},</if>
            <if test="name!=null">name = #{name},</if>
            <if test="gender!=null">gender = #{gender},</if>
            <if test="image!=null">image = #{image} ,</if>
            <if test="job!=null">job=#{job},</if>
            <if test="entrydate!=null">entrydate=#{entrydate},</if>
            <if test="deptId!=null">dept_id=#{deptId},</if>
            <if test="updateTime!=null">update_time=#{updateTime}</if>
            where id = #{id}
        </set>
    </update>

    <delete id="deleteByIds">
        -- collection:遍历的集合
        -- item:遍历出来的元素
        -- separator:分隔符
        -- open:遍历开始前拼接的Sql片段
        -- colse:遍历结束后拼接的Sql片段
        delete from emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>